<header class="header header-main">
	<div class="left-side">
		<a class="logo" href="index.html">
			<img src="img/logo/logo.svg" alt="Oxy Project Logo" />
			<div class="logo-text">Oxy Project</div>
		</a>
		<div class="line"></div>
		<nav class="navbar">
			<a class="dropbtn" href="index.html">Home</a>
			<div class="dropdown-resources">
				<button class="dropbtn">Explore</button>
				<div class="dropdown-content">
					<a href="html/collections.html">Collections</a>
					<a href="html/auctions.html">Auctions</a>
					<a href="html/leaderboard.html">Leaderboard</a>
				</div>
			</div>
			<div class="dropdown-resources">
				<button class="dropbtn">Resources</button>
				<div class="dropdown-content">
					<a href="html/partners.html">Partners</a>
					<a href="html/blog.html">Blog</a>
					<a href="html/news.html">Newsletter</a>
				</div>
			</div>
			<a class="dropbtn" href="html/contact.html">Contact</a>
		</nav>
	</div>
	<div class="right-side">
		<form class="form-search" action="" autocomplete="on">
			<img src="img/icons/search.svg" alt="Search" />
			<input id="search-input" name="search" type="text" placeholder="Search items..." />
		</form>
		<button class="btn btn-gradient" type="submit">Sign In</button>
		<button class="btn btn-default" type="submit">Sign Up</button>
	</div>
</header>
