@use 'variables' as *;
@use 'fonts' as *;

::-webkit-scrollbar {
	width: 0.5rem;
}

::-webkit-scrollbar-thumb {
	background: $blue-gray-800;
	border-radius: 0.5rem;
	&:hover {
		background: $accent-color;
	}
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	outline: none;
	border: none;
	list-style: none;
	color: $blue-gray-50;
	background-color: transparent;
	font-size: 1rem;
}

html {
	scroll-behavior: smooth;
}

body {
	font-family: $font-heebo;
	background-color: $blue-gray-900;
}
img {
	display: block;
}

.main__content {
	display: grid;
	margin: 0 10%;
	gap: 5rem 0;
}
.wrapper {
	position: relative;
}
