@use 'variables' as *;
@use 'fonts' as *;

::-webkit-scrollbar {
	width: 0.5rem;
	display: none;

	@media (min-width: $breakpoint-desktop) {
		display: block;
	}
}

::-webkit-scrollbar-thumb {
	background: $blue-gray-800;
	border-radius: 0.5rem;
	&:hover {
		background: $accent-color;
	}
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	outline: none;
	border: none;
	list-style: none;
	color: $blue-gray-50;
	background-color: transparent;
	-webkit-tap-highlight-color: transparent;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

html {
	scroll-behavior: smooth;
}

body {
	font-family: $font-heebo;
	background-color: $blue-gray-900;
	width: 100%;

	&.scroll__lock {
		overflow: hidden;
	}
}
img {
	display: block;
}

input {
	padding: 0.5rem;
	border: 1px solid;
	border-color: $blue-gray-600;
	color: $blue-gray-400;
	border-radius: 0.5rem;
	transition: all 0.2s ease;

	&:focus {
		color: $blue-gray-50;
		background-color: $blue-gray-800;
		border-color: $blue-gray-400;

		&::placeholder {
			visibility: hidden;
		}
	}
}

.main__content {
	display: flex;
	flex-direction: column;
	margin-inline: 10%;
	gap: 5rem 0;
}
.wrapper {
	position: relative;
}

.wrapper__home {
	.footer__main {
		.container {
			.subscribe,
			.navigation {
				background-color: transparent;
			}
		}
	}
}

.loader {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	background-color: $blue-gray-900;
	z-index: 9999;
	display: flex;
	align-items: center;
	justify-content: center;

	&.fadeout {
		z-index: -1;
		opacity: 0;
		transition: all 0.2s ease;
	}
	img {
		width: 4rem;
		height: auto;
		animation: loader 1.5s infinite ease;
	}
	@keyframes loader {
		to {
			transform: rotate(1turn);
		}
	}
}
