@use 'util/variables' as *;

.waves {
	position: absolute;
	top: 0;
	left: 0;
	shape-rendering: auto;
	height: calc(100vh - 8rem);
	width: 100%;
	opacity: 0.13;
	z-index: -1;

	@media (min-width: $breakpoint-desktop) {
		height: 100%;
	}
	.wave__1,
	.wave__2,
	.wave__3 {
		display: none;
	}

	@media (min-width: $breakpoint-tablet) {
		.wave__1,
		.wave__2,
		.wave__3 {
			display: block;
		}
	}
}
