<header class="header header-main">
	<div class="left-side">
		<div class="logo">
			<a href="index.html">
				<img src="img/logo/logo.svg" alt="Oxy Project Logo" />
				<div class="logo-text">Oxy Project</div>
			</a>
		</div>
		<div class="line"></div>
		<nav class="navbar">
			<ul>
				<li><a class="dropbtn" href="index.html">home</a></li>
				<div class="dropdown-resources">
					<a class="dropbtn inactive-link" href="#">explore</a>
					<div class="dropdown-content">
						<a href="collections.html">collections</a>
						<a href="html/auctions.html">auctions</a>
						<a href="html/leaderboard.html">leaderboard</a>
					</div>
				</div>
				<div class="dropdown-resources">
					<a class="dropbtn inactive-link" href="#">resources</a>
					<div class="dropdown-content">
						<a href="html/partners.html">partners</a>
						<a href="html/blog.html">blog</a>
						<a href="html/news.html">newsletter</a>
					</div>
				</div>
				<li><a class="dropbtn" href="html/contact.html">contact</a></li>
			</ul>
		</nav>
	</div>
	<div class="right-side">
		<form role="search" id="form">
			<input type="search" id="query" placeholder="Search..." autocomplete="on" name="text" />
			<button>Sign In</button>
			<button>Sign Up</button>
		</form>
	</div>
</header>
