@use 'util/variables' as *;

.btn {
	display: flex;
	align-items: center;
	justify-content: center;
	white-space: nowrap;
	text-align: center;
	border-radius: 0.5rem;
	padding: 0.7rem;
	font-size: 1rem;
	cursor: pointer;

	&__gradient {
		background-image: $gradient-color;

		&:hover,
		&:focus {
			background-image: none;
			background-color: $blue-gray-600;
		}
	}

	&__default {
		background-color: $blue-gray-600;

		&:hover,
		&:focus {
			background-color: $blue-gray-800;
		}
	}

	&__blue {
		background-color: $blue-500;
	}
}

.btn_to_top {
	display: flex;
	align-items: center;
	justify-content: center;
	position: fixed;
	bottom: 1rem;
	right: 1rem;
	z-index: 100;
	cursor: pointer;
	padding: 1rem;
	width: 3rem;
	height: 3rem;
	border-radius: 1.5rem;
	background-color: $blue-gray-600;
	opacity: 0;
	pointer-events: none;
	transition: all 0.3s;

	&.active {
		opacity: 1;
		pointer-events: auto;
	}

	&:hover {
		background-color: $blue-gray-800;
	}
}
