@use 'util/variables' as *;
.section__container {
	display: flex;
	flex-direction: column;

	.section__header {
		display: flex;
		align-items: center;
		justify-content: space-between;

		&-title {
			display: flex;
			align-items: center;
			gap: 0.5rem;
			white-space: nowrap;

			img {
				height: 2rem;
			}

			h2 {
				font-size: 1.2rem;
			}
		}

		.see-all-btn {
			padding: 0.5rem 0.7rem;
			background-color: $blue-gray-800;
		}
	}
}
