@use 'util/variables' as *;

.waves {
	position: absolute;
	top: 0;
	left: 0;
	shape-rendering: auto;
	height: 100vh;
	width: 100%;
	opacity: 0.13;
	z-index: -1;

	&__bottom {
		top: auto;
		bottom: 0;
		transform: rotate(180deg);
	}

	@media (max-width: 768px) {
		height: 80vh;
		.wave__1,
		.wave__2,
		.wave__3 {
			display: none;
		}
	}
}
