$accent-color: hsla(225, 20%, 61%, 0.5);
$blue-gray-50: hsl(210, 40%, 98%);
$blue-gray-200: hsl(214, 32%, 91%);
$blue-gray-300: hsl(213, 27%, 84%);
$blue-gray-350: hsl(213, 27%, 76%);
$blue-gray-400: hsl(215, 20%, 65%);
$blue-gray-600: hsl(214, 20%, 34%);
$blue-gray-800: hsl(217, 33%, 17%);
$blue-gray-800-transparent: hsla(217, 33%, 17%, 0.95);
$blue-gray-900: hsl(222, 46%, 11%);
$blue-gray-950: hsla(220, 41%, 10%, 0.785);
$indigo: hsl(239, 84%, 67%);
$blue-500: hsl(217, 91%, 60%);
$red-500: hsl(348, 76%, 62%);
$red-600: hsl(348, 76%, 54%);
$red-300: hsla(348, 29%, 70%, 0.05);
$red-400: hsla(348, 35%, 39%, 0.553);
$green-500: hsl(120, 45%, 70%);
$green-300: hsla(120, 73%, 75%, 0.05);
$gradient-color: linear-gradient(to right, rgba(71, 118, 230, 1), rgba(142, 84, 233, 1));
$gradient-color-reverse: linear-gradient(to left, rgba(71, 118, 230, 1), rgba(142, 84, 233, 1));
$gradient-bg: linear-gradient(to right, hsla(300, 100%, 50%, 1), hsla(180, 100%, 50%, 1));
$gradient-bg-reverse: linear-gradient(to left, hsla(300, 100%, 50%, 1), hsla(180, 100%, 50%, 1));
$box-shadow: 0 0.5rem 1rem hsla(0, 0%, 0%, 0.1);
$box-shadow-top: 0 0 0.5rem hsla(0, 0%, 0%, 0.01), 0 0 1rem hsla(0, 0%, 0%, 0.01),
	0 0 1rem hsla(0, 0%, 0%, 0.1), 0 0 2rem hsla(0, 0%, 0%, 0.01);
$breakpoint-tablet: 768px;
$breakpoint-desktop: 1024px;
