@use 'util/variables' as *;

.main__about {
	margin-top: 2rem;
	display: flex;
	flex-direction: column;
	margin-bottom: 20rem;

	@media (min-width: $breakpoint-desktop) {
		margin-top: -3rem;
		margin-bottom: 5rem;
	}

	.about__content {
		height: 100vh;
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 2rem;

		@media (min-width: $breakpoint-desktop) {
			flex-direction: row;
			justify-content: space-between;
			align-items: center;
		}

		.container {
			display: flex;
			flex-direction: column;
			gap: 2rem;
			height: 100vh;

			@media (min-width: $breakpoint-tablet) {
				align-items: flex-start;
				justify-content: center;
				height: calc(100vh - 10rem);
			}
			.about__text {
				@media (min-width: $breakpoint-tablet) {
					font-size: 1.1rem;
					letter-spacing: 0.05rem;
					max-width: 60ch;
				}
			}
			.about__title {
				text-align: center;

				@media (min-width: $breakpoint-tablet) {
					text-align: left;
					font-size: 2rem;
				}
			}
		}
		.about-img {
			width: 20rem;

			@media (min-width: $breakpoint-tablet) {
				width: 25rem;
			}
			@media (min-width: $breakpoint-desktop) {
				width: 30rem;
			}
		}
	}
}
