@use 'util/variables' as *;

.main__explore {
	margin-top: 2rem;
	display: flex;
	align-items: center;
	gap: 2rem;

	.explore__container {
		margin-bottom: 2rem;

		.explore__arts {
			display: grid;
			grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
			gap: 1rem;

			&-card {
				width: fit-content;
				height: 100%;
				border-radius: 0.5rem;
				display: flex;
				flex-direction: column;
				align-items: center;
				justify-content: center;

				img {
					width: 15rem;
					height: auto;
					border-radius: 0.5rem;
				}
			}
		}
	}
}
