@use 'util/variables' as *;

.main__dashboard {
	align-items: center;

	@media (min-width: $breakpoint-desktop) {
		gap: 2rem;
	}

	.form {
		&__error,
		&__error-active {
			color: $red-500;
			padding: 0.2rem 0.5rem;
			background-color: $red-300;
			border-radius: 0.5rem;
			border: 1px solid $red-500;

			@media (min-width: $breakpoint-tablet) {
				align-self: center;
			}

			.resend-btn {
				font-size: 1rem;
				cursor: pointer;
			}
		}

		&__success {
			color: $green-500;
			padding: 0.2rem 0.5rem;
			background-color: $green-300;
			border-radius: 0.5rem;
			border: 1px solid $green-500;

			@media (min-width: $breakpoint-tablet) {
				align-self: center;
			}
		}
	}

	.profile {
		display: flex;
		align-items: center;
		flex-direction: column;
		margin-top: 2rem;
		gap: 2rem;

		@media (min-width: $breakpoint-desktop) {
			box-shadow: $box-shadow-top;
			border-radius: 1rem;
			padding: 2rem;
			width: 40rem;
			height: auto;
		}

		&__image {
			display: flex;
			position: relative;
			align-items: center;
			justify-content: center;
			flex-direction: column;

			.user-pic {
				width: 6rem;
				height: 6rem;
				border-radius: 50%;
				box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.3);
			}
			.profile-verified {
				position: absolute;
				bottom: 0;
				right: 0;
			}
		}
		&__content {
			display: flex;
			flex-direction: column;
			align-items: center;
			gap: 0.5rem;

			&-username {
				color: $blue-gray-400;
				text-align: center;
				font-size: 1rem;

				@media (min-width: $breakpoint-tablet) {
					max-width: 65ch;
				}
			}
		}
		&__stats {
			display: flex;
			align-items: center;
			gap: 2rem;

			@media (min-width: $breakpoint-tablet) {
				gap: 1.5rem;
			}

			&-item {
				display: flex;
				align-items: center;
				justify-content: center;
				flex-direction: column;
				text-align: center;
				gap: 0.5rem;

				@media (min-width: $breakpoint-tablet) {
					flex-direction: row;
					align-items: center;
				}

				img {
					width: 2rem;
				}
			}
		}

		.section__buttons {
			display: grid;
			grid-template-columns: 1fr 1fr;
			align-items: center;
			justify-content: center;
			gap: 1rem;

			.btn {
				width: 100%;
			}

			.btn-icon {
				width: 1.2rem;
				margin-right: 0.5rem;
			}
		}
	}

	.arts__container {
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
		justify-content: center;
		gap: 1rem;
		margin-bottom: 10rem;

		@media (min-width: $breakpoint-desktop) {
			flex-direction: row;
		}

		.not-uploaded-images {
			text-align: center;
			color: $blue-gray-400;
		}

		.section__title {
			display: flex;
			align-items: center;
			justify-content: center;
		}

		&-line {
			width: 100%;
			border: 0.1rem solid;
			border-color: $blue-gray-800;
			background-color: $blue-gray-800;
			border-radius: 0.1rem;
			margin-block: 1rem;
		}

		.art {
			position: relative;
			animation: scaleAllCards 0.5s ease-in-out;

			@keyframes scaleAllCards {
				0% {
					transform: scale(0.5);
				}
				100% {
					transform: scale(1);
				}
			}

			&-card {
				@media (min-width: $breakpoint-desktop) {
					&:hover {
						.card-name {
							display: block;
						}
						.card-image {
							animation: opacity 0.5s forwards;

							@keyframes opacity {
								from {
									opacity: 1;
								}
								to {
									opacity: 0.8;
								}
							}
						}
					}
				}

				.card-name {
					position: absolute;
					bottom: 0;
					width: 100%;
					padding-block: 1rem;
					border-bottom-left-radius: 0.4rem;
					border-bottom-right-radius: 0.4rem;
					text-align: center;
					background-color: $blue-gray-800-transparent;

					@media (min-width: $breakpoint-desktop) {
						padding-block: 2rem;
						font-size: 1.2rem;
						display: none;
						animation: fade-in 0.3s forwards;

						@keyframes fade-in {
							0% {
								opacity: 0;
							}
							100% {
								opacity: 1;
							}
						}
					}
				}

				.card-image {
					width: 18rem;
					height: 18rem;
					border-radius: 0.5rem;
				}
			}
		}
	}
}
