@use 'util/variables' as *;

.main__dashboard {
	display: flex;
	align-items: center;
	justify-content: center;

	.profile {
		width: 100%;
		height: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		margin-block: 2rem;
		gap: 2rem;

		&__image {
			display: flex;
			position: relative;
			align-items: center;
			justify-content: center;
			flex-direction: column;

			.user-pic {
				width: 6rem;
				height: 6rem;
				border-radius: 50%;
				box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.3);
			}
			.profile-verified {
				position: absolute;
				bottom: 0;
				right: 0;
			}
		}
		&__content {
			display: flex;
			flex-direction: column;
			align-items: center;
			gap: 0.5rem;

			&-username {
				color: $blue-gray-400;
				text-align: center;
				font-size: 1rem;

				@media (min-width: $breakpoint-tablet) {
					max-width: 65ch;
				}
			}
		}
		&__stats {
			display: flex;
			align-items: center;
			gap: 2rem;

			@media (min-width: $breakpoint-tablet) {
				gap: 1.5rem;
			}

			&-item {
				display: flex;
				align-items: center;
				justify-content: center;
				flex-direction: column;
				text-align: center;
				gap: 0.5rem;

				@media (min-width: $breakpoint-tablet) {
					flex-direction: row;
					align-items: center;
				}

				img {
					width: 2rem;
				}
			}
		}
		.section__buttons {
			display: grid;
			grid-template-columns: 1fr 1fr;
			align-items: center;
			justify-content: center;
			gap: 1rem;

			.btn {
				width: 100%;
			}

			.btn-icon {
				width: 1.2rem;
				margin-right: 0.5rem;
			}
		}
	}
}
