@media (max-width: 576px) {
	.header-main {
		display: flex;
		.left-side {
			.line {
				display: none;
			}
			.navbar {
				display: none;
			}
		}
		.right-side {
			display: none;
		}
	}
	.hero {
		.hero-container {
			margin-top: -5rem;

			.hero-title {
				font-size: 1.7rem;
				line-height: 1.2;
			}
			.hero-buttons {
				margin-top: 1rem;
			}
		}
	}
	.collections {
		.collections-container {
			.collections-category {
				gap: 0 0;
				.collections-category-item {
					&:not(:first-child) {
						width: 100%;
						display: none;
					}
				}
			}
		}
	}
}

@media (max-width: 992px) {
	.header-main {
		padding: 0.7rem !important;

		.left-side {
			.navbar {
				display: none;
			}
		}
	}
}
