@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@400;700&display=swap');

$accent-color: hsla(225, 20%, 61%, 0.5);
$blue-gray-50: hsl(210, 40%, 98%);
$blue-gray-200: hsl(214, 32%, 91%);
$blue-gray-400: hsl(215, 20%, 65%);
$blue-gray-800: hsl(217, 33%, 17%);
$blue-gray-900: hsl(222, 47%, 11%);
$gradient-color: linear-gradient(to right, rgba(71, 118, 230, 1), rgba(142, 84, 233, 1));
$box-shadow: 0 0.5rem 1rem hsla(0, 0%, 0%, 0.1);
$box-shadow-top: 0 0 0.3rem hsla(0, 0%, 0%, 0.25), 0 0 0.9rem hsla(0, 0%, 0%, 0.165),
	0 0 2rem hsla(0, 0%, 0%, 0.125), 0 0 6.5rem hsla(0, 0%, 0%, 0.085);

::-webkit-scrollbar {
	width: 0.5rem;
}

::-webkit-scrollbar-thumb {
	background: $blue-gray-800;
	border-radius: 0.5rem;
	&:hover {
		background: $accent-color;
	}
}
* {
	font-family: 'Heebo', sans-serif;
	font-size: 1rem;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	outline: none;
	border: none;
	text-decoration: none;
	list-style: none;
	color: $blue-gray-50;
	background-color: transparent;
}

html {
	scroll-behavior: smooth;
}

body {
	background-color: $blue-gray-900;
	margin-top: 0.5rem;
	height: 300vh;
}
img {
	display: block;
}

.header-main--scrolled {
	background-color: $blue-gray-900;
	transition: background-color 0.3s;
}
.wrapper {
	padding: 1rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
